<!-- newMember-form.vtl -->

<h2>Adding team member to $team.getName()</h2>

<form action="/teams/$team.getId()/members/new" method="post">
  <input id="teamId" name="teamId" type="hidden" value="$team.getId()">
  <div class="form-group">
    <label for="memberName">Member Name:</label>
    <input id="memberName" name="memberName" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Go Team!</button>
</form>



<!-- newMember-form.vtl -->
