<!-- newTeam-form.vtl -->

<h1>Enter a new team in Hackfest Northwest</h1>
<p>You will be able to add members momentary.</p>

<form action="/teams" method="post">
<div class="form-group">
    <label for="teamName">Team Name:</label>
    <input id="teamName" name="teamName" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Go Team!</button>
</form>



<!-- newTeam-form.vtl -->
